*{padding: 0px;}

.overview{
    display: flex;
    align-content: center;
    width:100%;
    height: 60%;
}
.total{
    width: 40%;
    background-color: black;
    color:white;
    border-radius:12px ;
    text-align: center;
    margin: auto;
}

.shwd{ box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);}

.product{
    width: 60%;
    margin: auto;
    
    color:white;
    border-radius:12px ;
    text-align: center;
}